[user]
    email = markus.baur95@gmail.com
    name = Markus Baur
[branch]
    autoSetupRebase = always
[color]
    ui = auto
[alias]
    a = add
    p = pull --ff-only
    s = status -sb
    sup = log --all --graph --pretty=format:'%Cblue%h%C(yellow)%d %Creset%s %Cgreen(%cr) %Cred%an%+b'
    whats = show --color-words
    amend = commit --amend -c HEAD --reset-author
    staged = diff --cached
    co = checkout
[push]
    default = current
    autoSetupRemote = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    editor = vim
